.main{
  padding:10px 10px;
  background:#eee;
  height:100%;
  overflow-y: scroll;
}
.G-align-center{
  text-align: center;
}
.G-col-main{
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
}
  .container{
    width:100%;
    height:100%;
  }
  .el-header, .el-footer {
    color: #333;
    text-align: center;
    line-height: 60px;
  }
  .el-container{
    height: 100%;
  }
  .el-aside {
    background-color: #D3DCE6;
    color: #333;
    /* text-align: center; */
    line-height: 200px;
    height: 100%;
    overflow-x: hidden;
  }
  
  .el-main {
    background-color: #E9EEF3;
    color: #333;
    text-align: center;
    line-height: 160px;
  }
  
  body > .el-container {
    margin-bottom: 40px;
  }
  
  .el-container:nth-child(5) .el-aside,
  .el-container:nth-child(6) .el-aside {
    line-height: 260px;
  }
  
  .el-container:nth-child(7) .el-aside {
    line-height: 320px;
  }